<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Beta Test</h1>

    <form method="POST">
            <input type="text" name="username" placeholder="Enter the username">
            <input type="password" name="password" placeholder="Enter the password">
            <button>Login</button>
    </form>
  </body>
</html>
